*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

/*navbar styling*/
.navbar {
  height: 10vh;
  background-color: #00A69C;
}

.nav-list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 3.5vh;
  padding: 0 15px;
}

.nav-item{
  display: inline-block;
  color: #FFF;
}

.nav-logo {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0 0 10px #ED522E;
  font-family: 'Open Sans', sans-serif;
}

.nav-home {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/*home page styling*/
.grid {
 background-color: #F6F4E7;
 font-family: 'Montserrat', sans-serif;
}

.grid h2 {
  padding-bottom: 5px;
}

.post {
  text-align: center;
  width: 100vw;
  color: #4A4A4A;
  padding: 25px 0;
}

.seen {
  color: #00A69C;
  visibility: visible;
}

.not-seen {
  visibility: hidden;
}

.list-photo {
  height: 40vh;
  width: 80vw;
  border: 3px solid #00A69C;
}

.list-location {
  padding: 8px 0;
}

.list-btn {
  background-color: #00A69C;
  font-size: 16px;
  padding: 8px 10px;
  color: white;
  letter-spacing: 1px;
  transition: color 1s;
}

.list-btn:hover {
  background-color: transparent;
  color: #00A69C;
  border: 2px solid #00A69C;
}


/*single post page styling*/
.single-post {
  text-align: center;
  position: relative;
  top: 2vh;
  border: 2px solid #00A69C;
  width: 90vw;
  margin: 0 auto;
}

.leaflet-container {
  height: 40vh;
}

.single-post p {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 0;
}

.single-post span {
  font-weight: bold;
}

.single-post button {
  margin-bottom: 5px;
}

/*media queries*/
@media screen and (min-width: 600px) {
  .list-photo {
    height: 40vh;
    width: 60vw;
  }

  .list-btn {
    font-size: 20px;
  }

  .single-post h2 {
    font-size: 35px;
    padding: 8px 0;
  }
  .single-post p {
    font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  .list-photo {
    height: 40vh;
    width: 40vw;
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
  }

  .post {
    padding: 20px;
  }

  .list-photo {
    height: 300px;
    width: 400px;
  }

  .single-post {
    top: 3vh;
    width: 750px;
  }

  .single-post p {
    font-size: 17px;
  }

  .leaflet-container {
    height: 350px;
  }
  
  .list-btn {
    font-size: 17px;
  }
}

